/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";
@import "~typeface-roboto";

body {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
