/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
/* @import "~font-awesome/css/font-awesome.css"; */
/* @import "~typeface-roboto"; */
@import "~office-ui-fabric-core/dist/css/fabric.min.css";

* {
  margin: 0;
  padding: 0;
}

html, body, .c-grid, .c-row, #root {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.4;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.no-padding {
  padding: 0 !important;
}

.c-grid {
  position: relative;
}

.c-row {
  display: flex;
  position: relative;
}

.c-col {
  position: relative;
}

#navigation-col {
  height: 100%;
  border-right: 1px solid #ddd;
}

#page-col {
  width: 100%;
  overflow-x: hidden;
}

.table-data-empty {
  padding: 20px;
  font-size: 24px;
}
